.page-header
  = link_to orcamentos_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_orcamento_path(@orcamento), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show orcamento

%dl.dl-horizontal
  %dt Nome:
  %dd= @orcamento.nome
  %dt Valor:
  %dd= @orcamento.valor
  %dt Slug:
  %dd= @orcamento.slug
