<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @orcamento.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @orcamento.valor %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @orcamento.slug %>
</p>

<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
