= form_for @planejamento, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :siape, :class => 'control-label'
    .controls
      = f.text_field :siape, :class => 'text_field'
  .control-group
    = f.label :nome, :class => 'control-label'
    .controls
      = f.text_field :nome, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :tipo_solicitacao, :class => 'control-label'
    .controls
      = f.text_field :tipo_solicitacao, :class => 'text_field'
  .control-group
    = f.label :prioridade, :class => 'control-label'
    .controls
      = f.text_field :prioridade, :class => 'text_field'
  .control-group
    = f.label :nome_evento, :class => 'control-label'
    .controls
      = f.text_field :nome_evento, :class => 'text_field'
  .control-group
    = f.label :empresa, :class => 'control-label'
    .controls
      = f.text_field :empresa, :class => 'text_field'
  .control-group
    = f.label :tipo_empresa, :class => 'control-label'
    .controls
      = f.text_field :tipo_empresa, :class => 'text_field'
  .control-group
    = f.label :local_evento, :class => 'control-label'
    .controls
      = f.text_field :local_evento, :class => 'text_field'
  .control-group
    = f.label :cnpj, :class => 'control-label'
    .controls
      = f.text_field :cnpj, :class => 'text_field'
  .control-group
    = f.label :inicio_evento, :class => 'control-label'
    .controls
      = f.text_field :inicio_evento, :class => 'text_field'
  .control-group
    = f.label :fim_evento, :class => 'control-label'
    .controls
      = f.text_field :fim_evento, :class => 'text_field'
  .control-group
    = f.label :taxa_inscricao, :class => 'control-label'
    .controls
      = f.text_field :taxa_inscricao, :class => 'text_field'
  .control-group
    = f.label :valor_passagem, :class => 'control-label'
    .controls
      = f.text_field :valor_passagem, :class => 'text_field'
  .control-group
    = f.label :carga_horaria, :class => 'control-label'
    .controls
      = f.text_field :carga_horaria, :class => 'text_field'
  .control-group
    = f.label :justificativa, :class => 'control-label'
    .controls
      = f.text_field :justificativa, :class => 'text_field'
  .control-group
    = f.label :quantidade_aluno, :class => 'control-label'
    .controls
      = f.text_field :quantidade_aluno, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), planejamentos_path, :class => 'btn'
