<h1>Listing planejamentos</h1>

<table>
  <thead>
    <tr>
      <th>Funcionario</th>
      <th>Evento</th>
      <th>Local</th>
      <th>Tipo evento</th>
      <th>Data inicio prevista</th>
      <th>Data fim prevista</th>
      <th>Justificativa</th>
      <th>Quantidade alunos</th>
      <th>Valor passagem</th>
      <th>Prioriade</th>
      <th>Status</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planejamentos.each do |planejamento| %>
      <tr>
        <td><%= planejamento.funcionario %></td>
        <td><%= planejamento.evento %></td>
        <td><%= planejamento.local %></td>
        <td><%= planejamento.tipo_evento %></td>
        <td><%= planejamento.data_inicio_prevista %></td>
        <td><%= planejamento.data_fim_prevista %></td>
        <td><%= planejamento.justificativa %></td>
        <td><%= planejamento.quantidade_alunos %></td>
        <td><%= planejamento.valor_passagem %></td>
        <td><%= planejamento.prioriade %></td>
        <td><%= planejamento.status %></td>
        <td><%= planejamento.observacao %></td>
        <td><%= link_to 'Show', planejamento %></td>
        <td><%= link_to 'Edit', edit_planejamento_path(planejamento) %></td>
        <td><%= link_to 'Destroy', planejamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planejamento', new_planejamento_path %>
