<p id="notice"><%= notice %></p>

<p>
  <strong>Siape:</strong>
  <%= @funcionario.siape %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @funcionario.slug %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
